@import "tailwindcss";

@theme {
    --color-primary: #ec1380;
    --color-background-light: #000000;
    --color-background-dark: #000000;
    --color-surface-dark: #0a0a0a;
    --color-border-dark: #222222;
    --font-display: "Plus Jakarta Sans", sans-serif;
    --radius-DEFAULT: 0.5rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-full: 9999px;
}

body {
    @apply bg-background-light text-slate-900 antialiased min-h-screen flex flex-col overflow-x-hidden;
    cursor: url('/cursor-down.png') 16 16, auto;
}

.dark body {
    @apply bg-background-dark text-slate-100;
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: url('/cursor-up.png') 16 16, pointer;
}

a:active,
button:active,
[role="button"]:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    cursor: url('/cursor-ending.png') 16 16, pointer;
}